
*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;   
    box-sizing: border-boxs;
}
/* #d03fe6*/
body {
    background: linear-gradient(135deg, #6ce891, #427ec7);
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
}
#navbar{
    background: rgba( 255, 255, 255, 0.15 );
}
.container{
    width: 140%;
    max-width: 60%;
    height: 100%;
    min-height: 60%;
    color: #020202;
    border-radius: 30px;
    margin: 5px auto 0;
    padding: 40px 30px;
    text-align: center;
}

.weather-app{
    width: 99%;
    margin-top: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.3 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 50px;
    
}

#icon{
    width: 150px;
    height: 150px;
    margin-left:20%;
}

#datos{
    margin-top: 7%;
    margin-left: 60%;
}
.weather-forecast-temperature-max{  
    color: #cf2121;
}
.weather-forecast-temperature-min{  
    color: #2198cf;
}
#colores{
    cursor: pointer;
}

